{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sub Processos</h6>
        </div>
        <form action="{% url 'subprocesso_list' %}" method="get">
            <button type="submit" class="btn btn-primary btn-icon-split">Voltar</button>
        </form>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>SubProcesso</td>
                            <td>{{ subprocesso.nome_subprocesso }}</td>
                        </tr>
                        <tr>
                            <td>SubProcesso Parents</td>
                            <td>
                                {% if subprocesso.parent_subprocesso.all %}
                                    {% for parent_subprocesso in subprocesso.parent_subprocesso.all %}
                                        {{ parent_subprocesso.nome_subprocesso }}, <br> 
                                    {% endfor %}
                                {% else %}
                                    Sem SubProcesso
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}