{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Área</h6>
        </div>
        <form action="{% url 'area_new' %}" method="get">
            <button type="submit" class="btn btn-primary btn-icon-split mt-4 ml-4 mr-4 px-5">Novo</button>
        </form>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Área</th>
                            <th>Açãoo</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Área</th>
                            <th>Ação</th>
                        </tr>     
                    </tfoot>
                    <tbody>
                        {% for area in areas %}
                        <tr>
                            <td>{{ area.nome_area }}</td>
                            <td>
                                <a href="{% url 'area_detail' pk=area.pk %}" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-info-circle"></i>
                                </a> 
                                <a href="{% url 'area_edit' pk=area.pk %}" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </a>
                                <a href="{% url 'area_delete' pk=area.pk %}" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}