{% extends 'base.html' %}
{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Processos</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{num_processos}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                SubProcessos</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{num_subprocessos}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Áreas
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{num_areas}}</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pendentes</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form method="get">
                                {{ form.area}}
                                {{ form.processo}}
                                {{ form.subprocesso}}
                                <button type="submit" class="btn btn-primary btn-icon-split">Filtrar</button>
                            </form>
                        </div>
                    </div>

                    {% for processo in processos %}
                        <!-- Area Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">{{processo.area}} - {{processo.nome_processo}}</h6>
                            </div>
                            <div class="card-body">
                                Ferramenta Utilizada : {{processo.ferramenta_utilizada}} <br>
                                Responsável : {{processo.responsavel}} <br>
                                Documentação : {{processo.Documentação}} <br>
                            </div>
                            <div class="card-body">
                                {% for subprocesso in processo.subprocessos.all %}
                                <li>
                                    <strong>Subprocesso:</strong> {{ subprocesso.nome_subprocesso }} - {{ subprocesso.get_status_display }} <a href="{% url 'subprocesso_edit' pk=subprocesso.pk %}" class="btn btn-circle btn-sm">
                                        <i class="fas fa-check"></i>
                                    </a><br>
                                    {% if subprocesso.subprocessos_filhos.all %}
                                        <ul>
                                            {% for filho in subprocesso.subprocessos_filhos.all %}
                                                <li>
                                                    <strong>Subprocesso:</strong> {{ filho.nome_subprocesso }} - {{ filho.get_status_display }} <a href="{% url 'subprocesso_edit' pk=filho.pk %}" class="btn btn-circle btn-sm">
                                                        <i class="fas fa-check"></i>
                                                    </a><br>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}  
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- /.container-fluid -->
{% endblock %}